.main-wrp{
	width: 100%;
}

.header-wrp{
	width: 100%;
	height: 101px;
	background: white;
}

.header-container{
	max-width: 120em;
	margin: 0 auto;
	background: green;
	height: 100px;
}

.header{
	max-width: 73.125em;
	margin: 0 auto;
	background: blue;
}

.slider-wrp{
	width: 100%;
	height: 707px;
	background: gray;
}

.slider-container{
	max-width: 120em;
	margin: 0 auto;
	background: green;
	height: 20px;
}

.banner1-wrp{
	width: 100%;
	height: 158px;
	background: #e5493a;
}

.banner1-container{
	max-width: 120em;
	margin: 0 auto;
	background: green;
	height: 20px;
}

.services-wrp{
	width: 100%;
	height: 399px;
	background: white;
}

.services-container{
	max-width: 120em;
	margin: 0 auto;
	background: green;
	height: 20px;
}

.counter-wrp{
	width: 100%;
	height: 324px;
	background: black;
}

.counter-container{
	max-width: 120em;
	margin: 0 auto;
	background: green;
	height: 20px;
}

.blogposts-wrp{
	width: 100%;
	height: 810px;
	background: white;
}

.blogposts-container{
	max-width: 120em;
	margin: 0 auto;
	background: green;
	height: 20px;
}

.banner2-wrp{
	width: 100%;
	height: 305px;
	background: #e5493a;
}

.banner2-container{
	max-width: 120em;
	margin: 0 auto;
	background: green;
	height: 20px;
}

.footer-wrp{
	width: 100%;
	height: 518px;
	background: black;
}

.footer-container{
	max-width: 120em;
	margin: 0 auto;
	background: green;
	height: 20px;
}
