@media screen and (max-width: 1366px) {
	div.frame {
		max-width: 1366px;
	}

	div.frame .slider-strip .slider-img .slide-content {
   top:20%;
   left: 15%;
	}

	div.frame .slide-content .heading {
    font-size: 60px;
    word-spacing: 0px;
	}

	div.frame .slide-content .second-line {
    font-size: 42px;
    line-height: 52px;
	}

	div.frame .slide-content .desc {
    font-size: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
	}

	div.frame .slider-strip .slider-img img {
		max-width: 1366px;
		height: auto;
	}
}

@media screen and (max-width: 1024px) {
	.blogpost .poster .search {
  left: 38%;
	}

	.blogpost .poster .share {
  right: 33%;
	}

	.footer-section {
    padding-right: 0.7%;
    padding-left: 0.2%;
	}

	div.frame {
		max-width: 1024px;
	}
	div.frame .slider-strip .slider-img img {
		max-width: 1024px;
		height: auto;
	}
}

@media screen and (max-width: 1005px) {
	.menu {
    padding-left: 0px;
		}
}

@media screen and (max-width: 944px) {
	.blogpost .poster .search {
  left: 32%;
	}

	.blogpost .poster .share {
  right: 33%;
	}

	.menu li {
    padding-left: 25px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 840px) {
	.menu li {
    padding-left: 12px;
    padding-right: 10px;;
	}

	div.frame .slider-strip .slider-img .slide-content {
   top:15%;
   left: 8%;
   width: 450px;
	}

	div.frame .slide-content .heading {
    font-size: 50px;
    word-spacing: 0px;
	}

	div.frame .slide-content .second-line {
    font-size: 36px;
    line-height: 40px;
	}

	div.frame .slide-content .desc {
    font-size: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
	}
}

@media screen and (max-width: 768px) {
	.blogpost .poster .search {
  left: 26.5%;
	}

	.blogpost .poster .share {
  right: 28%;
	}


	.logo img {
    max-width: 80px;
    height: auto;
	}

	.service {
		width: 48%;
		padding: 1%;
	}

	.counter {
		width: 48%;
		padding:1%;
	}

	.footer-section {
		width: 48%;
		padding: 1%;
	}

	div.frame {
		max-width: 768px;
	}

	div.frame .slider-strip .slider-img img {
		max-width: 768px;
		height: auto;
	}

	div.frame .slider-strip .slider-img .slide-content {
   top:10%;
   left: 10%;
   width: 450px;
	}

	div.frame .slide-content .heading {
    font-size: 40px;
    word-spacing: 0px;
	}

	div.frame .slide-content .second-line {
    font-size: 26px;
    line-height: 40px;
    word-spacing: 2px;
	}

	div.frame .slide-content .desc {
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
	}

	div.frame .slide-content .btn-slider-content {
    font-size: 12px;
    width: 150px;
    height: 45px;
	}
}

@media screen and (max-width: 545px) {
	.desc p {
		padding-right: 0px;
		padding-left: 0px;
	}

	.service {
		width: 100%;
		padding-right: 0px;
		padding-left: 0px;
	}

	.counter {
		width: 100%;
		padding-right: 0px;
		padding-left: 0px;
	}

	.banner-btn {
		width: 140px;
	}

	.services-grp {
		padding-bottom: 0px
	}

	.blogposts-grp {
		padding-bottom: 0px;
	}

	.blogpost {
		width:100%;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 8px;
	}

	.blogpost.center{
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}

	.footer-section {
		width: 100%;
		padding-right: 0px;
		padding-left: 0px;
	}

	.footer-section.latest-news {
		display: none;
	}

	.footer-section.twitter-widget {
		display: none;
	}

	.counter {
		padding-right: 0px;
		padding-left: 0px;
	}

	div.frame {
		max-width: 545px;
	}

	div.frame .slider-strip .slider-img img {
		max-width: 545px;
		height: auto;
	}

	div.frame .slider-strip .slider-img .slide-content {
   top:10%;
   left: 10%;
   width: 200px;
	}

	div.frame .slide-content .heading {
    font-size: 30px;
    word-spacing: 0px;
	}

	div.frame .slide-content .second-line {
    font-size: 16px;
    line-height: 40px;
    word-spacing: 2px;
	}

	div.frame .slide-content .desc {
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
	}

	div.frame .slide-content .btn-slider-content {
    font-size: 8px;
    width: 100px;
    height: 30px;
    line-height: 30px;
	}
}

@media screen and (max-width: 412px) {
	.slider-wrp {
		display: none;
	}

	div.frame {
		max-width: 412px;
	}

	div.frame .slider-strip .slider-img img {
		max-width: 412px;
		height: auto;
	}

	.blogpost .poster .poster-overlay {
		width: 370px;
	}
}
