/*.clearfix:before, .clearfix:after{
    content: "";
    display: table;
}

.clearfix:after{
    clear:both;
}

div.slider-wrp {
	width: 100%;
	background: red;
}

div.slider-container {
	max-width: 120em;
	margin: 0 auto;
}*/

div.frame {
	margin: 0 auto;
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

div.frame .slider-strip {
	min-width: 10000px;
}

div.frame .slider-strip .slider-img {
	position: relative;
/*	max-width: 100%;
	height: auto*/;
	float: left;
}

div.frame .slider-strip .slider-img img {
	max-width: 100%;
	height: auto;
}

div.frame .slider-strip .slider-img .slide-content {
	position: absolute;
	font-family: 'Raleway', sans-serif;
	top:26%;
	left: 20%;
	width: 580px;
	padding: 10px;
}

div.frame .slide-content .desc {
	font-family: 'Roboto', sans-serif;
  font-size: 28px;
  padding-top: 18px;
  padding-bottom: 34px;
}

div.frame .slide-content .btn-slider-content {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	background: #e5493a;
	line-height: 52px;
	font-weight: bold;	
	text-align: center;
	overflow: hidden;
	color: white;
	float: left;
	margin-top: 15px;
	width: 170px;
	height: 54px;
	border-radius: 8px;
}

div.frame .slide-content .heading {
	font-size: 72px;
	font-weight: 900;
	color: black;
}

div.frame .slide-content .second-line {
	font-weight: 700;
	font-size: 52px;
}

div.frame .slide-content .highlight {
	color: #e5493a ;
}

div.frame .btn-prev {
	position: absolute;
	height: 42px;
	width: 42px;
	top: 46.5%;
	left: 5.3%;
	background: url(../images/btn-prev-inactive.png);
	background-repeat: no-repeat;
}

div.frame .btn-prev:hover {
	background: url(../images/btn-prev-active.png);
	background-repeat: no-repeat;
}

div.frame .btn-next {
	position: absolute;
	height: 42px;
	width: 42px;
	top: 46.5%;
	right: 5.3%;
	background: url(../images/btn-next-inactive.png);
	background-repeat: no-repeat;
}

div.frame .btn-next:hover {
	background: url(../images/btn-next-active.png);
	background-repeat: no-repeat;
}

div.ticker{
	position: absolute;
	top:90%;
	left:48%;
}

div.ticker li{
	list-style: none;
	float: left;
	padding: 8px;
	background: url(../images/bullet-inactive.png);
	background-repeat: no-repeat;
}

div.ticker li.active{
	background: url(../images/bullet-active.png);
	background-repeat: no-repeat;
}



