body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}



.desc h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #e5493a;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	overflow: hidden;
}

.desc p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #959595;
  text-align: center;
  padding-bottom: 24px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: hidden;
  line-height: 20px;
}

.number{
	overflow: hidden;
}

.logo{
	float: left;
}

.logo img{
	max-width: 100px;
	max-height: 41px;
}
.menu{
	float: left;
	padding-left: 62px; /*62/1120 5.535714285714286%*/
	padding-top: 0.46875%;
}

.menu li {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 13px;
    word-spacing: 2px;
    list-style: none;
    float: left;
    padding-left: 33px;
    padding-right: 15px;
    line-height: 41px;
}

.menu li:hover{
	color:#e5493a;
}

.menu .li-active {
    position: absolute;
    width: 6px;
    top: 33px;
    border: 1px solid #e5493a;
}

.menu li.active{
	color:#e5493a;
}

.menu li.dropdown{
	background: url(../images/menu-dropdown.png);
	background-repeat: no-repeat;
	background-position: right, 50%;
}

.menu li.dropdown:hover{
	background: url(../images/menu-dropdown-active.png);
	background-repeat: no-repeat;
	background-position: right, 50%;
}

li.dropdown.active{
	background: url(../images/menu-dropdown-active.png);
	background-repeat: no-repeat;
	background-position: right, 50%;
}

.banner-upper{
	background: url(../images/banner1-background-arrow.png);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-top: 36px;
	padding-bottom: 44px;
}

.banner-lower {
  padding-top: 66px;
  padding-bottom: 54px;
}
.banner{
	line-height: 39px;
}

.banner-container .banner p {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 22px;
  word-spacing: 8px;
}

.banner-container .banner p.banner-heading {
  font-weight: 700;
  font-size: 30px;
  word-spacing: 2px;
}

.banner-btn-grp {
  max-width: 409px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 15px;
}

.banner-btn{
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	line-height: 52px;
	font-weight: bold;	
	text-align: center;
	overflow: hidden;
	color: white;
	float: left;
	margin:15px;
	width: 168px;
	height: 52px;
	border: 2px solid white;
	border-radius: 8px;
}

.banner-btn:hover{
	border: 2px solid black;
	background: black;
}

.service{
	float: left;
	width: 25%;
}

.service .desc{
	padding-top: 100px;
	background: url(../images/service-background.png);
	background-repeat: no-repeat;
	background-position: bottom, center;
}

.service .desc h1{
	color: black;
}

.service:hover h1{
	color:  #e5493a;
}

.service:hover p{
	color: black;
}

.clean-design{
	background: url(../images/clean-design-background-inactive.png);
	background-repeat: no-repeat;
	background-position: top, center;
}

.clean-design:hover{
	background: url(../images/clean-design-background-active.png);
	background-repeat: no-repeat;
	background-position: top, center;
}

.branding{
	background: url(../images/branding-background-inactive.png);
	background-repeat: no-repeat;
	background-position: top, center;
}

.branding:hover{
	background: url(../images/branding-background-active.png);
	background-repeat: no-repeat;
	background-position: top, center;
}

.responsive{
	background: url(../images/responsive-background-inactive.png);
	background-repeat: no-repeat;
	background-position: top, center;
}

.responsive:hover{
	background: url(../images/responsive-background-active.png);
	background-repeat: no-repeat;
	background-position: top, center;
}

.development{
	background: url(../images/development-background-inactive.png);
	background-repeat: no-repeat;
	background-position: top, center;
}

.development:hover{
	background: url(../images/development-background-active.png);
	background-repeat: no-repeat;
	background-position: top, center;
}

.counter{
	float: left;
	width: 25%;
}

.counter .desc{
	background: url(../images/counter-background.png);
	background-repeat: no-repeat;
	background-position: bottom;, center;
}

.counter .number{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 42px;
	color: white;
	text-align: center;
}

.latest-blogposts{
	background: url(../images/latest-blogposts-background.png);
	background-repeat: no-repeat;
	background-position: bottom;, center;
}

.latest-blogposts .desc h1 {
  font-weight: 700;
  font-size: 30px;
  color: black;
  padding-top: 64px;
}

.latest-blogposts .desc p {
  padding-bottom: 26px;
  width: 40%;
  margin: 0 auto;
}

.blogpost{
/*	background: url(../images/blogpost-background-inactive.png);
	background-repeat: no-repeat;
	background-position: 30px bottom;*/
	width: 31.45299145299145%;
	float: left;
}

.blogpost.center{
	padding-left: 2.564102564102564%; /*30/1170 2.564102564102564%*/
	padding-right: 2.564102564102564%;
	background-position: 60px bottom; /*60/1170 5.128205128205128%*/
}

.blogpost:hover .desc {
	background: url(../images/blogpost-background-active.png);
	background-repeat: no-repeat;
	background-position: 30px bottom;
}

.blogpost.center:hover {
	background-position: 60px bottom;
}

.blogpost .poster{
	position: relative;
}

.blogpost .poster img{
	position: relative;
	max-width: 100%;
	height: auto;
}

.blogpost .poster .poster-icon-top{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 41px;
	width: 41px;
	background: #363636;
}

.blogpost .poster .poster-icon-top img{
	top: 25%;
	left: 25%;
}

.blogpost .poster .poster-overlay{
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	top:0px;
	left: 0px;
	background: #363636;
	opacity: 0.7;
}

.blogpost .poster .search{
	display: none;
	position: absolute;
	top: 40%;
	left: 38%;
	width: 42px;
	height: 42px;
	border-radius: 21px;
	background-color: black;
}

.poster:hover .search{
	display: block;
}

.blogpost .poster .search:hover{
	background-color: #e5493a;
}

.blogpost .poster .share{
	display: none;
	position: absolute;
	top: 40%;
	right: 38%;
	width: 42px;
	height: 42px;
	border-radius: 21px;
	background-color: black;
	opacity: 1.0;
}

.poster:hover .share{
	display: block;
}

.blogpost .poster .share:hover{
	background-color: #e5493a;
}

.search img{
	top: 34%;
	left: 32%;
}

.share img{
	top: 34%;
	left: 32%;
}

.blogpost:hover .poster-overlay{
	display: block;
}

.blogpost p.add-info{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #dddddd;
	padding-bottom: 0px;
	padding-top: 10px;
}

.blogpost .desc{
	padding-top: 19px;
	padding-left: 30px;
	padding-right: 40px;
	background: url(../images/blogpost-background-inactive.png);
	background-repeat: no-repeat;
	background-position: 30px bottom;
}

.blogpost .desc h1 {
  padding-top: 16px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #343434;
}

.blogpost .desc p{
	text-align: left;
  padding-left: 0;
 	padding-right: 0;
}

.blogpost .desc p.read-more {
  color: black;
  padding-bottom: 26px;
}

.blogpost:hover h1{
	color: #e5493a;
}

.blogpost:hover .desc p.info{
	color: black;
}

.blogpost:hover .desc p.read-more{
	color: #e5493a;
}

.blogpost:hover .poster-icon-top{
	background: #e5493a;
}

.footer-section {
  width: 21.991453%;
  float: left;
  padding-right: 3.709402%;
  overflow: hidden;
}

.footer-section:last-child {
	padding-right: 0px;
}

.footer-section .heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: white;
	background: url(../images/footer-heading-background.png);
	background-repeat: no-repeat;
	background-position: left bottom 10px;
	padding-bottom: 34px;
}

.footer-section p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #959595;
	line-height: 18px;
}

.footer-section p a {
	color:white;
}

.footer-section img {
	max-width: 100%;
}

.footer-section .email {
	color:#e5493a;
}

.footer-section .company-info {
  padding-top: 35px;
  padding-bottom: 41px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #4e4e4e;
  line-height: 19px;
}

.footer-section .company-info .read-more {
  color: #e5493a;
  padding-top: 18px;
}

.footer-section .newsletter .newsletter-heading {
	color: white;
	font-size: 18px;
}

.footer-section .newsletter .email-input {
	height: 42px;
	width: 270px;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 19px;
	padding-top: 23px;
}

.footer-section .newsletter .email-input input {
	height: 42px;
	width: 270px;
	border-style: none;
	border-radius: 4px;
	background-color: #171717;
	background-image: url(../images/newsletter-input.png);
	background-repeat: no-repeat;
	background-position: 95%;
	color: #4e4e4e;
	text-indent: 10px;
	font-weight: 500;
}

.footer-section .privacy-policy {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 12px;
	padding-bottom: 8px;
	color: #4e4e4e;
}

.footer-section ul li {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #363636 solid;
}

.footer-section ul li:last-child {
	border: none;
}

.footer-section ul li .profile-img {
	position: relative;
	width:70px;
	height: 70px;
	float: left;
}

.footer-section ul li .profile-img .profile-img-overlay{
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	top:0px;
	left: 0px;
	background: #363636;
	opacity: 0.7;
	z-index: 5;
}

.footer-section ul li .profile-img .profile-img-overlay .search {
	position: absolute;
	top: 34%;
	left: 34%;
	border-radius: 12px;
	background: black;
	height: 24px;
	width: 24px;
	opacity: 1;
}

.footer-section ul li .profile-img .profile-img-overlay .search img {
	top:10%;
	left: 10%;
}

.footer-section ul li:hover .profile-img-overlay {
	display: block;
}

.footer-section ul li:hover .news p {
	color: #e5493a;
}

.footer-section ul li:hover .twit p {
	color: #e5493a;
}

.footer-section ul li:hover .news .date p {
	color: white;
}

.footer-section ul li:hover .twit .date p {
	color: white;
}

.footer-section ul li .profile-img-overlay .search:hover {
	display: block;
	opacity: 1;
	background: #e5493a;	
}

.footer-section ul li .profile-img img{
	position: relative;
	max-width:100%;
}


.footer-section ul li .news {
	float: right;
	width: 67%;
}

.footer-section ul li .news {
	overflow: hidden;
}


.footer-section ul li .date p{
	color: #464646;
	padding-top: 16px;
	padding-bottom: 7px;
}

.footer-section ul li .twit-twitter-icon {
	float: left;
	height: 19px;
	width: 19px;
	background-image: url('../images/twitter-icon-round-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li:hover .twit-twitter-icon{
	background-image: url('../images/twitter-icon-round-active.png');
}

.footer-section ul li .twit {
	width: 86%;
	float: right;
}

.footer-section ul li .contact-heading {
	width: 25%;
	float: left;
}

.footer-section ul li .contact-heading p {
	color: #5e5e5e;
}

.footer-section ul li .contact-detail {
	width: 75%;
	float: right;
}

.footer-section ul li .contact-detail p {
	padding-left: 45px;
}

.footer-section ul li .contact-detail p .added-info {
	color: #5e5e5e;
}

.footer-section ul li .contact-detail .icon-grp {
	padding-left: 45px;
}

.footer-section ul li .contact-detail .icon-grp .icon {
	width: 16px;
	height: 16px;
	float: left;
	margin:2px;
}

.footer-section ul li .contact-detail .icon-grp .fb-icon {
	background-image: url('../images/facebook-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .fb-icon:hover {
	background-image: url('../images/facebook-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .twitter-icon {
	background-image: url('../images/twitter-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .twitter-icon:hover {
	background-image: url('../images/twitter-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .tumblr-icon {
	background-image: url('../images/tumblr-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .tumblr-icon:hover {
	background-image: url('../images/tumblr-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .linkedin-icon {
	background-image: url('../images/linkedin-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .linkedin-icon:hover {
	background-image: url('../images/linkedin-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .googleplus-icon {
	background-image: url('../images/googleplus-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .googleplus-icon:hover {
	background-image: url('../images/googleplus-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .vimeo-icon {
	background-image: url('../images/vimeo-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .vimeo-icon:hover {
	background-image: url('../images/vimeo-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .pinterest-icon {
	background-image: url('../images/pinterest-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .pinterest-icon:hover {
	background-image: url('../images/pinterest-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .blogger-icon {
	background-image: url('../images/blogger-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .blogger-icon:hover {
	background-image: url('../images/blogger-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .eyes-icon {
	background-image: url('../images/eyes-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .eyes-icon:hover {
	background-image: url('../images/eyes-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .ball-icon {
	background-image: url('../images/ball-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .ball-icon:hover {
	background-image: url('../images/ball-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .ohm-icon {
	background-image: url('../images/ohm-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .ohm-icon:hover {
	background-image: url('../images/ohm-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .bird-icon {
	background-image: url('../images/bird-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .bird-icon:hover {
	background-image: url('../images/bird-icon-active.png');
}

.footer-section ul li .contact-detail .icon-grp .rss-icon {
	background-image: url('../images/rss-icon-inactive.png');
	background-repeat: no-repeat;
}

.footer-section ul li .contact-detail .icon-grp .rss-icon:hover {
	background-image: url('../images/rss-icon-active.png');
}

.btn-scroll-up {
	position: absolute;
	right: 5%;
	top: 30%;
	height: 49px;
	width: 49px;
	background-image: url(../images/btn-scroll-up-inactive.png);
	background-repeat: no-repeat;
}

.btn-scroll-up:hover {
	background-image: url(../images/btn-scroll-up-active.png);
}

